<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Nous avons besoin d&amp;apos;un accès à l&amp;apos;appareil photo pour prendre une photo de vous</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Nous avons besoin d&amp;apos;accéder à la galerie pour récupérer et enregistrer des photos ou documents de vos produits</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Nous avons besoin d&amp;apos;accéder aux photos pour récupérer et enregistrer des photos ou documents de vos produits</string>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>CFBundleDisplayName</key>
	<string>Marjane</string>
	<key>CFBundleIdentifier</key>
	<string>pro.mobiarchitects.xios.marjane</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>XForms</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Fill in a reason why your app needs access to location</string>
</dict>
</plist>
